@import "./../../variables.scss";

.table__row {
  display: flex;
  height: 40px;
  align-items: center;
}

.table__cell {
  text-align: center;
  color: $gray-dark;
}

.table__cell--value-up {
  color: $color-success;
}

.table__cell--value-down {
  color: $color-warning;
}

.table__header {
  display: flex;
  padding: 1rem 1.5rem;
  font-weight: $font-weight-column-header;
  color: $blue-dark;
}

.table__column-header {
  padding: 0.75rem 1rem;
  text-align: left;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $gray-medium;
  text-align: center;

  &:hover {
    color: $blue-primary;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  &:not(:last-child) {
    margin-right: 1rem;
  }
}
